<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>View All Tasks</title>
    <link rel="stylesheet"  href="../static/css/task.css">
</head>
<body background="../static/images/task.png" center no-repeat;>
    <h2>View All Tasks</h2>

    
    <form action="/viewalltasks" method="GET">
        <label for="category">Filter by Category:</label>
        <input type="radio" name="category" value="Authorized"> Authorized
        <input type="radio" name="category" value="Unauthorized"> Unauthorized
        <input type="radio" name="category" value="Other"> Other
        <input type="submit" value="Apply">
    </form>

    <table>
        <thead>
            <tr>
                <th>Task ID</th>
                <th>User ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Due Date</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for i in sqldata %}
                {% if not request.args.get('category') or request.args.get('category') == i[4] %}
                <tr>
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[3]}}</td>
                    <td>{{i[4]}}</td>
                    <td>{{i[5]}}</td>
                    <!--<td>{{i[6]}}</td>-->
                    <td>
                        {% if i[6] == 1 %}
                            Complete
                        {% else %}
                            Incomplete
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {%endfor%}
        </tbody>
    </table>
    <form action="/viewalltasks" method="POST">
        <button type="submit">Back</button>
    </form>
</body>
</html>